@import '../../../../styles/mixins.scss';

.list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  @include small {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.head {
  white-space: normal;
  vertical-align: top;
  & th {
    padding: 2px 10px;
    &:not(:nth-of-type(n+4)),
    &:not(:nth-of-type(n+5)) {
      text-align: left;
    }
  }
  border-bottom: 2px solid #dfdfdf;
}