@import '../../../../styles/mixins.scss';

.list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  @include small {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}